$blue: #455F88;
$red: #D04A4B;
$dgrey: #5F6062;
$mgrey: #B8B8B8;
$lgrey: #CFCFCF;

$regular: 'NewsGoth BT', helvetica, sans-serif; 
$italic: 'Crimson Text', serif;
$bold: 'News Gothic Std', helvetica, sans-serif;